<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>WebMechanic</title>
    <%= render 'layouts/rails_defaults'%>
    <%= render 'layouts/import_assets'%>
    <%= render 'layouts/shim'%>
  </head>

  <body>
    <%= render 'layouts/header' %>%>
    <%= yield %>
    <%= render 'layouts/footer' %>%>
    <%= render 'layouts/plugin_js_imports'%>
  </body>
</html>
